.countryItem,
.countryItem:link,
.countryItem:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--input-bg);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-bottom: 5px solid var(--main-color);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
